body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	background-color: darkorange;
	color: #fff;
	width: 100%;
	padding-top: 10px;
}

.orange {
	width: 50%;
	padding-left: 70px;
	font-size: 25px;
	display: inline-block;
}

#logo {
	font-family: 'Raleway-semi-bold', sans-serif;
	color: #fff;
}

/*====MEDIA QUERY====*/
@media (max-width: 825px) {
	.orange {
		padding-left: 5px;
	}
}

@media (max-width: 426px) {
	.orange {
		text-align: left;
	}
	.orange span,
	.orange p {
		font-size: 18px;

	}
}
/*====MEDIA QUERY END====*/

.navbar {
	margin: 0;
	display: inline-block;
	width: 40%;
	padding: 10px 0 20px;
}

.navbar ul {
	margin: 0;
	padding: 0;
}

.navbar li {
	display: inline-block;
	list-style: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

.navbar a {
	font-size: 14px;
	font-family: 'Raleway-semi-bold', sans-serif;
	text-decoration: none;
	color: #fff;
	padding: 0 5px;
}

/*====MEDIA QUERY====*/
@media (max-width: 757px) {
	.navbar a {
		font-size: 10px;
		padding: 0 2px;
	}
}

/*====MEDIA QUERY END====*/

#cta {
	background-color: #fff;
	width: 100%;
}

form {
	margin-top: 10px;
}

.search {
	right: 4%;
	margin-right: 5%;
	border: 1px solid lightgrey;
	height: 40px;
	width: 200px;
	background-color: #f1f1f1;
	position: absolute;
}

.searchbox input {
	margin-top: 10px;
	margin-left: 10px;
	border-style: none;
	background-color: transparent;
}

i {
	padding-left: 20px;
	color: lightgrey;
}

.content {
	width: 95%;
	margin: 0 auto;
	clear: right;
	padding-top: 70px;
}

.orangefruit {
	display: inline-block;
	width: 50%;
	height: 80%;
	text-align: right;
	padding-left: 15%;
}

.about {
	width: 50%;
	right: 20px;
	vertical-align: top;
	display: inline-block;
	color: darkorange;
}

.about p {
	text-align: left;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

.about div {
	width: 75%;
	margin-left: 4%;
}

.about span {
	font-family: 'Raleway-semi-bold', sans-serif;
	color: #55DCCA;
}

span#logo2 {
	color: darkorange;
}

.buttons {
	text-align: left;
}

.get,
.view {
	margin-right: 10px;
}

.get {
	height: 40px;
	width: 40%;
	background-color: darkorange;
	border-style: none;
	color: #fff;
}

.view {
	height: 40px;
	width: 40%;
	background-color: #55DCCA;
	border-style: none;
	color: #fff;
}

/*====MEDIA QUERY====*/
@media (max-width: 758px) {
	.about p {
		font-size: 1.5em;
	}
	.get, .view {
		font-size: 10px;
	}
}

@media (max-width: 562px) {
	.about p {
		display: none;
	}
}
/*====MEDIA QUERY ENDS====*/

footer { 
	margin-top: 70px; 
	height: 175px;
	background-color: #55DCCA;
}

